extends layout 

block content
    h2 Dashboard
    p #{username}
    ul#myTab.nav.nav-tabs(role='tablist')
        li.nav-item(role='presentation')
            button#home-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#home-tab-pane' type='button' role='tab' aria-controls='home-tab-pane' aria-selected='true') Home
        li.nav-item(role='presentation')
            button#profile-tab.nav-link(data-bs-toggle='tab' data-bs-target='#pool-tab-pane' type='button' role='tab' aria-controls='pool-tab-pane' aria-selected='false') Pools
        li.nav-item(role='presentation')
            button#contact-tab.nav-link(data-bs-toggle='tab' data-bs-target='#contact-tab-pane' type='button' role='tab' aria-controls='contact-tab-pane' aria-selected='false') Contact
        li.nav-item(role='presentation')
            button#disabled-tab.nav-link(data-bs-toggle='tab' data-bs-target='#disabled-tab-pane' type='button' role='tab' aria-controls='disabled-tab-pane' aria-selected='false' disabled='') Disabled
    #myTabContent.tab-content
        #home-tab-pane.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab' tabindex='0')
        #pool-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='pool-tab' tabindex='0')
            table.table
                each pool in desktopPools
                    thead
                        tr
                            th(scope='col') Select
                            th(scope='col') Cloud
                            th(scope='col') Pool Name
                            th(scope='col') Template
                            th(scope='col') VM Type
                    tbody
                        tr
                            th(scope='row')
                                .form-check
                                    input#flexCheckDefault.form-check-input(type='checkbox' value='')
                                    label.form-check-label(for='flexCheckDefault')
                            td #{pool.cloud}
                            td #{pool.name}
                            td #{pool.template}
                            td #{pool.vmType}
        #contact-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='contact-tab' tabindex='0')
        #disabled-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='disabled-tab' tabindex='0')
